#root {
  max-width: 100vw;
}




.alexharpertitle {
  position: fixed;
  top: 5%;
  margin: 1%;
}

.musicbutton {
  margin-top: 10%;
  position: fixed;
  top: 15%
}

.gamingbutton {
  margin-top: 10%;
  position: fixed;
  top: 20%
}

.vodsbutton {
  margin-top: 10%;
  position: fixed;
  top: 25%
}

.reactionbutton {
  margin-top: 10%;
  position: fixed;
  top: 30%
}

.instagrambutton {
  margin-top: 10%;
  position: fixed;
  top: 35%
}
.twitchbutton {
  margin-top: 10%;
  position: fixed;
  top: 40%
}
.xbutton {
  margin-top: 10%;
  position: fixed;
  top: 45%
}

.tiktokbutton {
  margin-top: 10%;
  position: fixed;
  top: 50%
}

.patreonbutton {
  margin-top: 10%;
  position: fixed;
  top: 55%
}

.mybutton {
  margin: 1%;
  height: 20%;
  width: 30em;
  font-size: large;
}

.thelinks {
    margin: 1%;
  height: 20%;
  width: 30em;
  font-size: large;
}

.killmenow {
  height: 100vh;
  width: 100vw;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
